:host([spinner]) {
    z-index: 1;
    position: absolute;
    display: block;
    border: .5em solid black;
    border-top: .5em solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

:host([linear]) {
    height: 2px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: black;
}

:host([linear]):before {
    display: block;
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: red;
    animation: loading 2s cubic-bezier(.72, .2, .38, 1.51) infinite;
}

@keyframes loading {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}