:host {
    display: flex;
}

div {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 2;
}