:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

div {
    display: flex;
    flex-direction: column;
    /* flex-basis: 25%; */
    /* flex-grow: 1; */
}