<a brand routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="menuClose()">Tomas Jonsgården</a>
<section desktop>
    <div>
        <a routerLink="/commercial" routerLinkActive="active">Commercial</a>
        <hr>
        <a routerLink="/narrative" routerLinkActive="active">Narrative</a>
        <hr>
        <a routerLink="/photography" routerLinkActive="active">Photography</a>
    </div>
    <div>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <hr>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <hr>
        <a routerLink="#" routerLinkActive="active">Instagram</a>
    </div>
</section>
<span (click)="menuChanged()">|||</span>
<section mobile [class.active]="menuOpen" (click)="menuClose()">
    <div>
        <a routerLink="/commercial" routerLinkActive="active">Commercial</a>
        <a routerLink="/narrative" routerLinkActive="active">Narrative</a>
        <a routerLink="/photography" routerLinkActive="active">Photography</a>
    </div>
    <div>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a routerLink="#" routerLinkActive="active">Instagram</a>
    </div>
</section>