:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 1rem 3rem 1rem;
    font-family: 'open_sanslight';
    text-transform: uppercase;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a[brand] {
    color: var(--accent-color);
    /* width: 4rem; */
    display: flex;
    flex-basis: calc(100% - 4rem);
    flex-shrink: 0;
    margin-right: calc(var(--padding-desktop) * 2);
}

a.active:not([brand]) {
    text-decoration: underline;
}

hr {
    margin: .2rem calc(var(--padding-desktop)*1.5) .2rem calc(var(--padding-desktop)*1.5);
    border: 0;
    border-left: 1px solid var(--primary-color);
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

section[mobile]:not(.active) {
    display: none;
}

section[mobile] {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

section[mobile] div {
    display: flex;
    flex-direction: column;
}

section[desktop] div {
    display: flex;
    flex-direction: row;
}

section[desktop] {
    display: none;
}

@media (min-width: 900px) {
    a[brand] {
        color: var(--accent-color);
        flex-basis: initial;
    }
    section[desktop] {
        display: flex;
    }
    section[mobile] {
        display: none;
    }
    span {
        display: none;
    }
}