<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a routerLink="/commercial" routerLinkActive="active">Commercial</a>
    <a routerLink="/narrative" routerLinkActive="active">Narrative</a>
    <a routerLink="/photography" routerLinkActive="active">Photography</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="#" routerLinkActive="active">Instagram</a>
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<footer>
    <small>® Copyrighted materials.</small>
</footer>