:host {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(46, 0, 0, 0.4);
}

div {
    position: relative;
    background: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

video,
img {
    position: relative;
    z-index: 3;
    max-width: 50%;
}

button {
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
}

button.close {
    left: 100%;
    bottom: 100%;
    z-index: 30;
}

button.prev {
    right: 100%;
    bottom: 50%;
    z-index: 29;
}

button.next {
    left: 100%;
    bottom: 50%;
    z-index: 28;
}

meter {
    /* left: 50%; */
    top: 100%;
    position: absolute;
    width: 50%;
    height: 1rem;
    background: rgba(255, 0, 0, 0.17);
}

meter::-webkit-meter-optimum-value {
    background: red;
}

meter::-webkit-meter-bar {
    background: none;
}