:host {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
}

video,
img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}