:host {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

menu {
    display: block;
    padding: 0;
    margin: 0;
}

figure {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

button {
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    margin: 0;
    padding: 0;
}

button[active=true] {
    background: black;
}

figure:not([active=true]) {
    display: none;
}


/* figure[active=false] {
    animation: to 1s forwards;
} */

figure[active=true] {
    animation: from 1s backwards;
}

@keyframes from {
    from {
        transform: scale(.8);
        opacity: 0;
    }
}

@keyframes to {
    to {
        transform: scale(.8);
        opacity: 0;
    }
}