:host {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    padding: 1rem;
    overflow: hidden;
}


/* :host::before {
    content: '';
    background: green;
    padding-bottom: 56.25%;
} */

section {
    width: 100%;
    padding-bottom: 56.25%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

menu {
    display: block;
    padding: 0;
    margin: 0;
}

app-image {
    min-width: 140%;
    min-height: 100%;
}

figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

button {
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    margin: 0;
    padding: 0;
}

button[active=true] {
    background: white;
}

figure:not([active=true]) {
    display: none;
}


/* figure[active=false] {
    animation: to 1s forwards;
} */

figure[active=true] {
    animation: from 1s backwards;
}

@keyframes from {
    from {
        transform: scale(.8);
        opacity: 0;
    }
}

@keyframes to {
    to {
        transform: scale(.8);
        opacity: 0;
    }
}