:host {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    padding: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    padding-bottom: 56.25%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

menu {
    display: block;
    padding: 0;
    margin: 0;
}

app-image {
    min-width: 140%;
    min-height: 100%;
    transition: 1s opacity;
}

figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

h2,
figcaption {
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

figure:hover h2,
figure:hover figcaption {
    visibility: visible;
}

figure:hover app-image {
    opacity: .5;
}

button {
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    margin: .5rem;
    padding: 0;
    background: var(--primary-color);
}

button[active=true] {
    background: white;
}

figure:not([active=true]) {
    display: none;
}

figure[active=true] {
    animation: from 1s backwards;
}

@keyframes from {
    from {
        transform: scale(.8);
        opacity: 0;
    }
}

@keyframes to {
    to {
        transform: scale(.8);
        opacity: 0;
    }
}