<section>
    <figure *ngFor="let video of videos; let index = index" [attr.active]="index === 0" [attr.active]="video.active" (click)="clickHandler(videos, index)">
        <div>
            <h2>{{video.name}}</h2>
            <figcaption>{{video.description}}</figcaption>
        </div>
        <app-image src="{{video.pictures.sizes[5].link.replace('1280x720', '1920x1080')}}"></app-image>
    </figure>
</section>
<menu>
    <button *ngFor="let video of videos; let index = index;" value="{{index}}" (click)="onChangeImage(index)" [attr.active]="video.active"></button>
</menu>