:host {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--padding-desktop)*2);
    padding: var(--padding-desktop);
    overflow: hidden;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    padding-bottom: 56.25%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

menu {
    display: block;
    padding: 0;
    margin: 0;
}

app-image {
    min-width: 140%;
    min-height: 100%;
    transition: 1s opacity;
    transform: translate3d(0, 0, 0);
}

figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    transform: translate3d(0, 0, 0);
}

div {
    text-align: center;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

figure:hover div {
    visibility: visible;
}

figure:hover app-image {
    opacity: var(--dim-opacity);
}

button {
    border: none;
    width: var(--padding-desktop);
    height: var(--padding-desktop);
    border-radius: 50%;
    outline: none;
    margin: calc(var(--padding-desktop) / 2);
    padding: 0;
    background: var(--primary-color);
}

app-image {
    transform: translate3d(0, 0, 0);
}

button[active=true] {
    background: white;
}

figure:not([active=true]) {
    display: none;
}

figure[active=true] {
    animation: scale 1s backwards;
}

h2 {
    color: var(--secondary-color);
    font-size: 2rem;
}