/* You can add global styles to this file, and also import other style files */

@import "/assets/fonts/stylesheet.css";
@import "/assets/icons/stylesheet.css";
:root {
    --accent-color: red;
    --primary-color: #5A5A5A;
    --secondary-color: white;
    --background-color: black;
    --padding-desktop: 1rem;
    --padding-mobile: .5rem;
    --dim-opacity: .2;
}

@media (max-width: 1024px) {
     :root {
        --padding-desktop: .5rem;
    }
}

body {
    font-family: 'open_sanslight';
    color: var(--primary-color);
    background: var(--background-color);
    max-width: 1280px;
    margin: 0 auto;
}

hr {
    border: none;
    margin: var(--padding-desktop);
    border-top: 1px solid var(--primary-color);
}

@keyframes scale {
    from {
        /* transform: translateY(50%); */
        transform: scale(.8);
        opacity: 0;
    }
}