ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    animation: scale .5s backwards;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% - 3rem) / 3);
    box-sizing: border-box;
    overflow: hidden;
    margin: .5rem;
}

li::before {
    padding-bottom: 56.25%;
    content: '';
}

app-image {
    transition: opacity 1s;
    min-width: 150%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
    transform: translate3d(0, 0, 0);
}

li:hover app-image {
    opacity: .5;
}

@keyframes scale {
    from {
        transform: scale(.5);
        opacity: 0;
    }
}

li:nth-last-of-type(2n) {
    animation-delay: .1s;
}

li:nth-last-of-type(2n+2) {
    animation-delay: .4s;
}

li:nth-last-of-type(3n) {
    animation-delay: .3s;
}

li:nth-last-of-type(4n) {
    animation-delay: .2s;
}

div {
    visibility: hidden;
    position: absolute;
    z-index: 2;
}

li:hover div {
    visibility: visible;
}

h4,
p {
    text-align: center;
    margin: 0;
}